Sample/bin/
Sample/bin/Debug/
Sample/bin/Release/
Sample/.vs/
Sample/obj/
Sample/.vs/Sample/v14/.suo
Sample/bin/Debug/Sample.vshost.exe
*.cache
Sample/obj/Debug/Sample.csproj.FileListAbsolute.txt
*.lref
Sample/packages/HelixToolkit.1.0.0/AUTHORS
Sample/packages/HelixToolkit.1.0.0/CONTRIBUTORS
Sample/packages/HelixToolkit.1.0.0/LICENSE
Sample/packages/HelixToolkit.Wpf.1.0.0/AUTHORS
Sample/packages/HelixToolkit.Wpf.1.0.0/CONTRIBUTORS
Sample/packages/HelixToolkit.Wpf.1.0.0/LICENSE
Sample/packages/HelixToolkit.1.0.0/HelixToolkit.1.0.0.nupkg
Sample/packages/HelixToolkit.1.0.0/lib/portable-net45+win8+wpa81+wp8/HelixToolkit.dll
Sample/packages/HelixToolkit.1.0.0/lib/portable-net45+win8+wpa81+wp8/HelixToolkit.pdb
Sample/packages/HelixToolkit.1.0.0/lib/portable-net45+win8+wpa81+wp8/HelixToolkit.XML
Sample/packages/HelixToolkit.1.0.0/README.md
Sample/packages/HelixToolkit.Wpf.1.0.0/HelixToolkit.Wpf.1.0.0.nupkg
Sample/packages/HelixToolkit.Wpf.1.0.0/lib/net45/HelixToolkit.Wpf.dll
Sample/packages/HelixToolkit.Wpf.1.0.0/lib/net45/HelixToolkit.Wpf.pdb
Sample/packages/HelixToolkit.Wpf.1.0.0/lib/net45/HelixToolkit.Wpf.XML
Sample/packages/HelixToolkit.Wpf.1.0.0/README.md
Sample/STLPlayer/
